#slot{
    border-radius: 10px;
}

.slot-p{
    font-size: 1.5rem;
}
.slot-h1{
    color: #029b7d;
}
.total-slot{
    display: flex;
    flex-direction: row;
    gap: 85px;
    border-radius: 10px;


}
.slot-content{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.slot-video{
    border-radius: 60%;
    width: 400px;
    animation: shake 4s infinite ease-in-out , floating 15s infinite ease-in-out;
    /* z-index: 2; */
}

.round{
    position: relative;
    /* background-color: white; */
        border-radius: 50%;
    
}

@media(max-width:768px){
    .slot-video{
        display: none;
    }
}