#slot{
    border-radius: 10px;

}
.total-slot{
    display: flex;
    flex-direction: row;
    gap: 85px;
    /* background-color: white; */
    border-radius: 10px;


}
.slot-content{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.slot-video{
    border-radius: 60%;
    width: 400px;
}

.round{
    background-color: white;
        border-radius: 50%;
    
}

@media(max-width:768px){
    .slot-video{
        display: none;
    }
}