
.footer {
  background-color: #5e9ea0;
  padding: 20px;
  border-radius: 10px;
  bottom: 0;
  text-align: center;
  /* position: sticky; */
  /* bottom: 0; */

}

.footer-content {
  /* max-width: 800px; */
  margin: 0 auto;
  color: white;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-item .icon {
  font-size: 24px;
}

a{
color: white;
}

