

 /* App.css */
 .total-background {
  padding: 10px;
}

main{
  margin: 0;
  /* overflow: hidden; */
}
@keyframes wavey {
  0%, 100% {
    transform: scale(1);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  50% {
    transform: scale(1.05);
    clip-path: polygon(50% 10%, 60% 40%, 90% 30%, 70% 60%, 80% 90%, 50% 80%, 20% 90%, 30% 60%, 10% 30%, 40% 40%);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20px);
  }
  75% {
    transform: translateX(20px);
  }
}

@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-90px);
  }
}

@keyframes enlarge {
  0%, 100% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.3);
  }
}
/* section {
  padding: 20px 0;
} */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


body {
  font-family: 'Exo', sans-serif;
}

.area {
  background: rgba(76, 165, 155, 0.084); 
  background: -webkit-linear-gradient(to left, rgba(143, 148, 251, 0.5), rgba(78, 84, 200, 0.5)); /* Low brightness */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #bde2d7;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.navbar {
  position: sticky;
  top: 0;
  background-color: transparent; 
  border-radius: 0px 0px 5px 5px;
  color: #099090;
  z-index: 1000;
  transition: background-color 0.3s;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 20;
  justify-content: center;
}

.navbar.transparent {
  background-color: transparent;
}

.navbar.solid {
  background-color: #099090;
  color: white;

}

.navbar nav ul li {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  padding: 18px 20px;
  transition: background-color 0.3s;
  font-weight: 700;
}

.navbar nav ul li:hover {
  background-color: transparent;
  border-radius: 5px;
}


.navbar nav ul li::after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 50%;
  width: 0;
  height: 3px; 
  background-color: #099090;
  transition: width 0.4s ease, left 0.4s ease;
  border-radius: 10px;
}

.navbar nav ul li:hover::after {
  width: 100%;
  left: 0;
}

.hamburger-icon {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  display: none;
}

.hamburger-icon.icon-transparent i {
  color: black;
}

.hamburger-icon.icon-solid i {
  color: #ffffff;
}

.nav-open {
  display: flex;
}

.sign-in-button {
  background-color: #09909000;
  color: #099090;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.sign-in-button.icon-solid{
  color: #ffffff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
@media (max-width: 768px) {
  .navbar nav ul {
    display: none;
    flex-direction: column;
    background-color: #098f90;
    position: absolute;
    text-align: center;
    top: 100%;
  }
  .navbar.solid {
    background-color: #099090;
    color: white;
  
  }
  .navbar {
    background-color: #099090;
    color: white;
  }

  .hamburger-icon {
    display: block;
  }
  .sign-in-button {
    margin-right: 0.2rem;
  }
}

@media (max-width: 768px) {
 
  .navbar nav ul li {
    padding: 10px;
    text-align: center;
  }
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    border-radius: 10px 0px 0px 10px;
  }

  nav ul.nav-open {
    display: flex;
  }



}

.modal-content {
  background-color: #3fa1a1ea;
  padding: 2rem;
  border-radius: 4px;
  position: relative;
  width: 90%;
  max-width: 500px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.google-sign-in-button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1rem;
  width: 100%;
  justify-content: center;
}

.google-sign-in-button img {
  height: 24px;
  margin-right: 0.5rem;
}
.google-sign-in-button {
  padding: 0.5rem;
}

.total-background {
  position: relative;
  z-index: 0;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 1rem;
  }

  .nav-open {
    display: flex;
  }

  .total-background {
    overflow: hidden;
  }
  .circles{
    width: 100vw;
    height: 120vh;
  }
  
   .area{
    height: 120%;
   }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0ec7c789;
}

::-webkit-scrollbar-thumb {
  background-color: #008181; 
  border-radius: 10px;

}
::-webkit-scrollbar-thumb:hover {
  background: #016464; 
}

hr{
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px rgb(0, 147, 142);
}
hr::after{
  content: "\00a0";
}

